<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Template</title>

  <link rel="stylesheet" href="<%=process.env.APP_URL%>/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="<%=process.env.APP_URL%>/stylesheets/style.css">
</head>

<body>

  <div class="container">
    <h1 class="display-2 text-center">Event Countdown</h1>
    <h3 id="datetimeNow" class="text-center mt-5 mb-5"></h3>

    <table class="table mx-auto">
      <th class="text-center">Event</th>
      <th class="text-center">Date</th>
      <th class="text-center">Countdown</th>
      <tr class="text-center">
        <td>
          <%= event[0].name %>
        </td>
        <td>
          <%= event[0].date.toLocaleDateString(undefined,{day:'numeric', month:'long', year:'numeric'}) %>
        </td>
        <td class="countdown"></td>
      </tr>
      <% Object.keys(event).forEach((prop)=> { %>
        <tr class="text-center">
          <td>
            <%= event[prop].name %>
          </td>
          <td>
            <%= event[prop].date.toLocaleDateString(undefined,{day:'numeric', month:'long', year:'numeric'}) %>
          </td>
          <td class="countdown">

          </td>
        </tr>
        <% }) %>
    </table>


  </div>

  <footer class="bg-light text-center text-lg-start footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      By Kahliliman © 2020 Copyright:
      <a class="text-dark" href="https://www.instagram.com/kaligraviz/">Kaligraviz</a>
    </div>
  </footer>

  <span id='dataEjs' hidden>
    <%= JSON.stringify(event) %>
  </span>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="<%=process.env.APP_URL%>/javascript/bootstrap.bundle.js"></script>
  <script src="<%=process.env.APP_URL%>/javascript/moment.min.js"></script>
  <script>
    let data = JSON.parse($('#dataEjs').text());
    $('#data  Ejs').remove();

    const updateCountDown = () => {
      Object.keys(data).forEach((prop) => {
        console.log(data[prop].name)
        $('.countdown').html(data[prop.name])
      })
    }

    $(document).ready(() => {

      setInterval(() => {
        let momentNow = moment()
        $('#datetimeNow').html(momentNow.format('LLLL'))
        updateCountDown()
      }, 1000)
    })

    // $(document).ready(function () {
    //   let eventTime = moment(data[0].date)
    //   let eventTimeUnix = eventTime.unix()
    //   let currentTimeUnix = moment().unix()
    //   let leftTime = eventTimeUnix - currentTimeUnix
    //   let duration = moment.duration(leftTime, 'seconds')
    //   let interval = 1000

    //   setInterval(function () {
    //     // time now
    //     let momentNow = moment()
    //     $('#datetimeNow').html(momentNow.format('LLLL'))

    //     // countdown
    //     duration = moment.duration(duration.asSeconds() - 1, 'seconds')
    //     $('.countdown').text(duration.years() + 'y : ' + duration.months() + 'mo : ' + duration.days() + 'd : ' + duration.hours() + 'h : ' + duration.minutes() + 'm : ' + duration.seconds() + 's')
    //   }, interval)
    // })


  </script>
</body>

</html>